li:nth-child(even){
    color: black;
    background-color: #376F70;
}
li:nth-child(odd){
    color: #000;
    background-color: #BEEEEF;
}
li:nth-child(10){
    white-space: 50px;
}
li:last-child:after{
    white-space: 0px;
}

img{
    border: 5px solid #000;
    margin: 10px;
    display: inline;

}
img:hover,:focus{
    box-shadow: 10px 10px #376F70;
}
